{% extends "tgweb/base.html" %}
{% block head_title %}{% endblock head_title %}

{% block content %}


{% load static %}



<div class="contento">
	

	<div class="pagecover pg-presentation">
		
	</div>

	<div class="agence-container">
		<div class="container">
					<h1 class="text-center wow fadeInUp section-headone">
		 				Taghit Tours
		 			</h1>
		 			<hr class="title-underline wow fadeInUp">
			<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-3">
						<img class="pull-right" src="{% static "tgweb/images/logo/logostyle2.svg" %}">
					</div>
					
					<div class="col-md-7">
					
					<br><p>Taghit Tours est né avec l'ambition de partager avec vous sa connaissance du Sahara Algérien millénaire qui plonge son histoire dans la nuit des temps.<br><br>

					Elle porte son nom d'une très belle oasis où se côtoient le sable et le palmier. C'est un lieu idéal pour une profonde évasion au milieu des dunes de sable doré, au milieu des palmeraies envoutantes et d'oasis émergeants comme un mirage.<br><br>

					Taghit Tours vous offre également d'autres opportunités pour réaliser vos rêves; elle vous aide à préparer et à organiser votre voyage; elle sera présente avec vous afin que votre séjour soit agréable et que vos vacances soient une réussite et se passent dans la gaieté et la bonne humeur.
    
					</p>
				    </div>
				
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10" style="padding-top:80px;">
					<div class="col-md-4" style="height:500px;padding:5px;">
						<div class="tierbox tierbox1 text-center">
							<h2 class="">Reservation</h2><br>
							<p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe laboriosam dolor, tempora harum, neque nisi nemo possimus incidunt, numquam ab tenetur minus in illo, fugit.</p>
							<input type="button" name="" class="btn btn-primary" value="Decouvrir">
						</div>
					</div>
					<div class="col-md-4" style="height:500px;padding:5px;">
						<div class="tierbox tierbox2 text-center">
							<h2 class="">Reservation</h2><br>
							<p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe laboriosam dolor, tempora harum, neque nisi nemo possimus incidunt, numquam ab tenetur minus in illo, fugit.</p>
							<input type="button" name="" class="btn btn-primary" value="Decouvrir">
						</div>
					</div>
					<div class="col-md-4" style="height:500px;padding:5px;">
						<div class="tierbox tierbox3 text-center">
							<h2 class="">Reservation</h2><br>
							<p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe laboriosam dolor, tempora harum, neque nisi nemo possimus incidunt, numquam ab tenetur minus in illo, fugit.</p>
							<input type="button" name="" class="btn btn-primary" value="Decouvrir">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	

</div>








{% endblock content %}