{% extends "tgweb/base.html" %}
{% block head_title %}{% endblock head_title %}

{% block content %}


{% load static %}



<div class="contento">
	

	<div class="pagecover pg-promos">
		
	</div>

    <section class="promotions nospromos">
		<div class="container">
			<div class="row">
				<div class="col-md-3" style="background:lightgray;height:700px;"></div>
				<div class="col-md-9">
					


					<div class="col-lg-4 col-md-6"><!-- Start Column div -->
						<div class="card"><!-- Start Card div -->
							<div class="fixOverlayDiv">	
			      				<img src="{% static "tgweb/images/tunis.jpg" %}" alt="" class="img card-img-top img-responsive">
			      				<div class="OverlayText">Kuala Lumpur, Malaisie</div>
							</div>
							<div class="card-block"><!-- Start Card block -->
			      				<table class="table table table-condensed">
			      					<tr>
			      						<td>Malaysia</td>
			      						<td><div class="pull-right"><strong>242000 DZD</strong></div></td>
			      					</tr>
			      					<tr>
			      						<td>Destino</td>
			      						<td>
				      						<div class="pull-right" style="color:gold;">
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      						</div>
			      						</td>
			      					</tr>
			      				</table>
			      			</div><!-- End Card block -->
						</div><!-- End Card div -->
					</div><!-- End Column div -->
					<div class="col-lg-4 col-md-6"><!-- Start Column div -->
						<div class="card"><!-- Start Card div -->
							<div class="fixOverlayDiv">	
			      				<img src="{% static "tgweb/images/turkya.jpg" %}" alt="" class="img card-img-top img-responsive">
			      				<div class="OverlayText">Istanbul, Turquie</div>
							</div>
							<div class="card-block"><!-- Start Card block -->
			      				<table class="table table table-condensed">
			      					<tr>
			      						<td>Turkey</td>
			      						<td><div class="pull-right"><strong>242000 DZD</strong></div></td>
			      					</tr>
			      					<tr>
			      						<td>Destino</td>
			      						<td>
				      						<div class="pull-right" style="color:gold;">
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      						</div>
			      						</td>
			      					</tr>
			      				</table>
			      			</div><!-- End Card block -->
						</div><!-- End Card div -->
					</div><!-- End Column div -->
					<div class="col-lg-4 col-md-6"><!-- Start Column div -->
						<div class="card"><!-- Start Card div -->
							<div class="fixOverlayDiv">	
			      				<img src="{% static "tgweb/images/kabah.jpg" %}" alt="" class="img card-img-top img-responsive">
			      				<div class="OverlayText">Tunis, Tunisie</div>
							</div>
							<div class="card-block"><!-- Start Card block -->
			      				<table class="table table table-condensed">
			      					<tr>
			      						<td>Malaysia</td>
			      						<td><div class="pull-right"><strong>242000 DZD</strong></div></td>
			      					</tr>
			      					<tr>
			      						<td>Destino</td>
			      						<td>
				      						<div class="pull-right" style="color:gold;">
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      						</div>
			      						</td>
			      					</tr>
			      				</table>
			      			</div><!-- End Card block -->
						</div><!-- End Card div -->
					</div><!-- End Column div -->
					<div class="col-lg-4 col-md-6"><!-- Start Column div -->
						<div class="card"><!-- Start Card div -->
							<div class="fixOverlayDiv">	
			      				<img src="{% static "tgweb/images/malays.jpg" %}" alt="" class="img card-img-top img-responsive">
			      				<div class="OverlayText">Tunis, Tunisie</div>
							</div>
							<div class="card-block"><!-- Start Card block -->
			      				<table class="table table table-condensed">
			      					<tr>
			      						<td>Malaysia</td>
			      						<td><div class="pull-right"><strong>242000 DZD</strong></div></td>
			      					</tr>
			      					<tr>
			      						<td>Destino</td>
			      						<td>
				      						<div class="pull-right" style="color:gold;">
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      						</div>
			      						</td>
			      					</tr>
			      				</table>
			      			</div><!-- End Card block -->
						</div><!-- End Card div -->
					</div><!-- End Column div -->
					<div class="col-lg-4 col-md-6"><!-- Start Column div -->
						<div class="card"><!-- Start Card div -->
							<div class="fixOverlayDiv">	
			      				<img src="{% static "tgweb/images/kibledagi.jpg" %}" alt="" class="img card-img-top img-responsive">
			      				<div class="OverlayText">Tunis, Tunisie</div>
							</div>
							<div class="card-block"><!-- Start Card block -->
			      				<table class="table table table-condensed">
			      					<tr>
			      						<td>Malaysia</td>
			      						<td><div class="pull-right"><strong>242000 DZD</strong></div></td>
			      					</tr>
			      					<tr>
			      						<td>Destino</td>
			      						<td>
				      						<div class="pull-right" style="color:gold;">
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      						</div>
			      						</td>
			      					</tr>
			      				</table>
			      			</div><!-- End Card block -->
						</div><!-- End Card div -->
					</div><!-- End Column div -->
					<div class="col-lg-4 col-md-6"><!-- Start Column div -->
						<div class="card"><!-- Start Card div -->
							<div class="fixOverlayDiv">	
			      				<img src="{% static "tgweb/images/japona.jpg" %}" alt="" class="img card-img-top img-responsive">
			      				<div class="OverlayText">Tunis, Tunisie</div>
							</div>
							<div class="card-block"><!-- Start Card block -->
			      				<table class="table table table-condensed">
			      					<tr>
			      						<td>Malaysia</td>
			      						<td><div class="pull-right"><strong>242000 DZD</strong></div></td>
			      					</tr>
			      					<tr>
			      						<td>Destino</td>
			      						<td>
				      						<div class="pull-right" style="color:gold;">
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      						</div>
			      						</td>
			      					</tr>
			      				</table>
			      			</div><!-- End Card block -->
						</div><!-- End Card div -->
					</div><!-- End Column div -->
					<div class="col-lg-4 col-md-6"><!-- Start Column div -->
						<div class="card"><!-- Start Card div -->
							<div class="fixOverlayDiv">	
			      				<img src="{% static "tgweb/images/algeriadesert.jpg" %}" alt="" class="img card-img-top img-responsive">
			      				<div class="OverlayText">Tunis, Tunisie</div>
							</div>
							<div class="card-block"><!-- Start Card block -->
			      				<table class="table table table-condensed">
			      					<tr>
			      						<td>Malaysia</td>
			      						<td><div class="pull-right"><strong>242000 DZD</strong></div></td>
			      					</tr>
			      					<tr>
			      						<td>Destino</td>
			      						<td>
				      						<div class="pull-right" style="color:gold;">
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      						</div>
			      						</td>
			      					</tr>
			      				</table>
			      			</div><!-- End Card block -->
						</div><!-- End Card div -->
					</div><!-- End Column div -->
					<div class="col-lg-4 col-md-6"><!-- Start Column div -->
						<div class="card"><!-- Start Card div -->
							<div class="fixOverlayDiv">	
			      				<img src="{% static "tgweb/images/london4.jpg" %}" alt="" class="img card-img-top img-responsive">
			      				<div class="OverlayText">Tunis, Tunisie</div>
							</div>
							<div class="card-block"><!-- Start Card block -->
			      				<table class="table table table-condensed">
			      					<tr>
			      						<td>Malaysia</td>
			      						<td><div class="pull-right"><strong>242000 DZD</strong></div></td>
			      					</tr>
			      					<tr>
			      						<td>Destino</td>
			      						<td>
				      						<div class="pull-right" style="color:gold;">
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      						</div>
			      						</td>
			      					</tr>
			      				</table>
			      			</div><!-- End Card block -->
						</div><!-- End Card div -->
					</div><!-- End Column div -->
					<div class="col-lg-4 col-md-6"><!-- Start Column div -->
						<div class="card"><!-- Start Card div -->
							<div class="fixOverlayDiv">	
			      				<img src="{% static "tgweb/images/london4.jpg" %}" alt="" class="img card-img-top img-responsive">
			      				<div class="OverlayText">Tunis, Tunisie</div>
							</div>
							<div class="card-block"><!-- Start Card block -->
			      				<table class="table table table-condensed">
			      					<tr>
			      						<td>Malaysia</td>
			      						<td><div class="pull-right"><strong>242000 DZD</strong></div></td>
			      					</tr>
			      					<tr>
			      						<td>Destino</td>
			      						<td>
				      						<div class="pull-right" style="color:gold;">
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      							<i class="fa fa-star" aria-hidden="true"></i>
				      						</div>
			      						</td>
			      					</tr>
			      				</table>
			      			</div><!-- End Card block -->
						</div><!-- End Card div -->
					</div><!-- End Column div -->





				</div>
			</div>
		</div>
	</section>

	

</div>








{% endblock content %}