{% extends "tgweb/base.html" %}
{% block head_title %}{% endblock head_title %}

{% block content %}


{% load static %}



<div class="contento">
	

	<div class="pagecover">
		<h2 class="text-center">Reservation Page</h2>
	</div>


	<section class="reservation-container contei">
		<div class="container">
			<div class="row">
				<div class="col-md-3" style="background:lightgray;height:700px;"></div>
				<div class="col-md-9">
					<div>
						<br><h3>Reservation hotels</h3><br>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, est aliquid, provident excepturi nam veritatis reprehenderit ratione autem esse repellat ipsum, amet error eligendi, ullam ipsam. Necessitatibus, recusandae dolorem nihil</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, repellat! Placeat vero, ratione rerum commodi vel neque architecto magni a, id, blanditiis quaerat omnis voluptates labore, illo nobis aperiam ipsa.</p>
						<a href="#"><input type="button" name="" class="btn btn-primary pull-right" value="Reserver"></a>
					</div>
				</div>
			</div>
		</div>
	</section>


</div>








{% endblock content %}