{% extends "tgweb/base.html" %}
{% block head_title %}{% endblock head_title %}

{% block content %}


{% load static %}



<div class="contento">
	

	<div class="pagecover">
		
	</div>


	<section class="hotel-reserv-container conto">
		<div class="container">
			<div class="row">
				<div class="col-md-3" style="background:;">
					<img src="{% static "tgweb/images/hotelpic.jpg" %}" style="width:100%;height:100%;">
				</div>
				<div class="col-md-9">
					<div>
						<h3 class="section-headone">Reservation Hotels</h3><br>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, est aliquid, provident excepturi nam veritatis reprehenderit ratione autem esse repellat ipsum, amet error eligendi, ullam ipsam. Necessitatibus, recusandae dolorem nihil</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, repellat! Placeat vero, ratione rerum commodi vel neque architecto magni a, id,</p>
						<a href="#"><input type="button" name="" class="primary-button primary-button-rd pull-right" value="Reserver"></a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="vol-reserv-container conto">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div>
						<h3 class="section-headone">Reservation Vols</h3><br>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, est aliquid, provident excepturi nam veritatis reprehenderit ratione autem esse repellat ipsum, amet error eligendi, ullam ipsam. Necessitatibus, recusandae dolorem nihil</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, repellat! Placeat vero, ratione rerum commodi vel neque architecto magni a, id,</p>
						<a href="#"><input type="button" name="" class="primary-button primary-button-rd pull-right" value="Reserver"></a>
					</div>
				</div>
				<div class="col-md-3" style="background:#f5f5f5;"></div>
			</div>
		</div>
	</section>

	<section class="deck-reserv-container conto">
		<div class="container">
			<div class="row">
				<div class="col-md-3" style="background:#f5f5f5;">
					<img src="{% static "tgweb/images/cruise.jpg" %}" style="width:100%;height:100%;">
				</div>
				<div class="col-md-9">
					<div>
					    <h3 class="section-headone">Reservation Croisieres</h3><br>
					    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, est aliquid, provident excepturi nam veritatis reprehenderit ratione autem esse repellat ipsum, amet error eligendi, ullam ipsam. Necessitatibus, recusandae dolorem nihil</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, repellat! Placeat vero, ratione rerum commodi vel neque architecto magni a, id,</p>
						<a href="#"><input type="button" name="" class="primary-button primary-button-rd pull-right" value="Reserver"></a>
				    </div>
				</div>
			</div>
		</div>
	</section>

</div>








{% endblock content %}