{% load static %}

<!-- Airlines Section -->
<section class="airlingo">
	<div class="container">
		<div class="row">
		   <div class="col-lg-2 text-center"><a href="#"><img src="{% static "tgweb/images/airlines/malaysia.gif" %}" alt="" class="grayscale"></a></div>
		   <div class="col-lg-2 text-center"><a href="#"><img src="{% static "tgweb/images/airlines/iata.png" %}" alt="" class="grayscale"></a></div>
	   	   <div class="col-lg-2 text-center"><a href="#"><img src="{% static "tgweb/images/airlines/qatar-airways.svg" %}" alt="" class="grayscale"></a></div>
		   <div class="col-lg-2 text-center"><a href="#"><img src="{% static "tgweb/images/airlines/turkish.png" %}" alt="" class="grayscale"></a></div>
		   <div class="col-lg-2 text-center"><a href="#"><img src="{% static "tgweb/images/airlines/british.png" %}" alt="" class="grayscale"></a></div>
		   <div class="col-lg-2 text-center"><a href="#"><img src="{% static "tgweb/images/airlines/airalgerie.svg" %}" alt="" class="grayscale"></a></div>
			

		</div>
	</div>
</section>
<!--End Airlines Section -->






<!--footer-->
<footer class="footer">
	<div class="container">
		<div class="row rowo">
			<div class="col-md-4 footercol" style="padding-right:80px;">
				<h3 class="section-headone">Notre Agence</h3><br>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi eius veritatis mollitia vero culpa esse laborum maxime .</p>
				<p>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p>
			</div>
			<div class="col-md-4 footercol">
				<!--<h4 class="wow fadeInUp">Nous Contacter</h4><br>-->
				<h3 class="section-headone">Nous Contacter</h3><br>
				<p><img src="{% static "tgweb/images/streamline-icons/location-pin.png" %}">&nbsp; Cité des 40 villas n°06
             Birtouta, Alger</p>
				<p><img src="{% static "tgweb/images/streamline-icons/e-mail.png" %}">&nbsp; <a href="#">taghitours.dg@gmail.com</a></p>
				<p><img src="{% static "tgweb/images/streamline-icons/iphone.png" %}">&nbsp; 021-44-46-28</p>
				<p><img src="{% static "tgweb/images/streamline-icons/globe.png" %}">&nbsp; <a href="#">www.taghitours.com</a></p>
			</div>
			<div class="col-md-4 footercol">
				<h3 class="section-headone">Stay in Touch</h3>
				<a href="https://www.facebook.com/taghit.tours/" target="_blank"><img src="{% static "tgweb/images/streamline-icons/facebook.svg" %}" alt="" class="social"></a>
				<a href="#"><img src="{% static "tgweb/images/streamline-icons/twitter.svg" %}" class="social"></a>
				<a href="#"><img src="{% static "tgweb/images/streamline-icons/pinterest.svg" %}" alt="" class="social"></a>
				<a href="#"><img src="{% static "tgweb/images/streamline-icons/google.svg" %}" alt="" class="social"></a>
				<br>
				<br><h3 class="section-headone">Newsletter</h3>
				<input class="primary-textinput" type="email" placeholder="Subscribe For Updates"><button class="primary-button primary-button-rd">S'Abonner</button>
			</div>
		</div>
		<div class="row" style="background:#f5f5f5; padding:7px;">
			<div class="col-md-6">
				<h5 class="">All Rights Reserved 2017 @ <a href="#">taghitours.com</a></h5>
			</div>
			<div class="col-md-6">
				<div class="pull-right">
					<a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a> | <a href="#">Datails & Views</a>
				</div>
			</div>
		</div>
	</div>
</footer>
<!--end footer-->