{% load static %}
	
	<!-- Map Script -->
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->

	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

	<!-- Bootstrap4 Scripts -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="{% static "tgweb/js/script.js" %}"></script>


	

	<script src="{% static "tgweb/js/wow.min.js" %}"></script>
	<script>
    	new WOW().init();
	</script>



	<script type="text/javascript">
		//*Script for scroll *//
		$("button.downarrow").click(function() {
	    $('html,body').animate({
	        scrollTop: $(".pricing").offset().top},
	        'slow');
		});
	</script>







	<!-- Script for the index page image slider-->
	<script type="text/javascript">
		
	var carouselContainer = $('.carousel');
	var slideInterval = 5000;
		
		function toggleH(){
			$('.toggleHeading').hide()
			var caption = carouselContainer.find('.active').find('.toggleHeading').addClass('animated fadeInRight').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend',
				function (){
				$(this).removeClass('animated fadeInRight')});
		caption.slideToggle();
		}
		
		function toggleC(){
			$('.toggleCaption').hide()
			var caption = carouselContainer.find('.active').find('.toggleCaption').addClass('animated fadeInUp').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend',
				function (){
				$(this).removeClass('animated fadeInUp')
		});
		caption.slideToggle();
		}

	</script>






<script>
      window.onload = function () {
            var latlng = new google.maps.LatLng(36.646764, 2.994077);

            var styles = [
	{
		"featureType": "landscape",
		"stylers": [
			{
				"hue": "#FFA800"
			},
			{
				"saturation": 0
			},
			{
				"lightness": 0
			},
			{
				"gamma": 1
			}
		]
	},
	{
		"featureType": "road.highway",
		"stylers": [
			{
				"hue": "#f59e07"
			},
			{
				"saturation": 0
			},
			{
				"lightness": -1.4210854715202004e-14
			},
			{
				"gamma": 1
			}
		]
	},
	{
		"featureType": "road.arterial",
		"stylers": [
			{
				"hue": "tomato"
			},
			{
				"saturation": 0
			},
			{
				"lightness": 0
			},
			{
				"gamma": 1
			}
		]
	},
	{
		"featureType": "road.local",
		"stylers": [
			{
				"hue": "#00FFFD"
			},
			{
				"saturation": 0
			},
			{
				"lightness": 0
			},
			{
				"gamma": 1
			}
		]
	},
	{
		"featureType": "water",
		"stylers": [
			{
				"hue": "#0078FF"
			},
			{
				"saturation": 0
			},
			{
				"lightness": 0
			},
			{
				"gamma": 1
			}
		]
	},
	{
		"featureType": "poi",
		"stylers": [
			{
				"hue": "#9FFF00"
			},
			{
				"saturation": 0
			},
			{
				"lightness": 0
			},
			{
				"gamma": 1
			}
		]
	}
];

            var myOptions = {
                zoom: 16,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                disableDefaultUI: true,
                styles: styles
            };


            map = new google.maps.Map(document.getElementById('map'), myOptions);
        }

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOgE09_wgL2eFQPThCoiiLVIeiJr4tw88&callback=initMap">
    </script>